/****** Object:  Database CinemaSec    Script Date: 07.06.2005 11:40:45 ******/
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'CinemaSec')
	DROP DATABASE [CinemaSec]
GO

CREATE DATABASE [CinemaSec]  ON (NAME = N'CinemaSec', FILENAME = N'D:\SKZ\CinemaSec.mdf' , SIZE = 18, FILEGROWTH = 10%) LOG ON (NAME = N'CinemaSec_log', FILENAME = N'D:\SKZ\CinemaSec_log.LDF' , SIZE = 9, MAXSIZE = 100, FILEGROWTH = 10%)
 COLLATE Cyrillic_General_CI_AS
GO

exec sp_dboption N'CinemaSec', N'autoclose', N'false'
GO

exec sp_dboption N'CinemaSec', N'bulkcopy', N'false'
GO

exec sp_dboption N'CinemaSec', N'trunc. log', N'false'
GO

exec sp_dboption N'CinemaSec', N'torn page detection', N'true'
GO

exec sp_dboption N'CinemaSec', N'read only', N'false'
GO

exec sp_dboption N'CinemaSec', N'dbo use', N'false'
GO

exec sp_dboption N'CinemaSec', N'single', N'false'
GO

exec sp_dboption N'CinemaSec', N'autoshrink', N'false'
GO

exec sp_dboption N'CinemaSec', N'ANSI null default', N'false'
GO

exec sp_dboption N'CinemaSec', N'recursive triggers', N'false'
GO

exec sp_dboption N'CinemaSec', N'ANSI nulls', N'false'
GO

exec sp_dboption N'CinemaSec', N'concat null yields null', N'false'
GO

exec sp_dboption N'CinemaSec', N'cursor close on commit', N'false'
GO

exec sp_dboption N'CinemaSec', N'default to local cursor', N'false'
GO

exec sp_dboption N'CinemaSec', N'quoted identifier', N'false'
GO

exec sp_dboption N'CinemaSec', N'ANSI warnings', N'false'
GO

exec sp_dboption N'CinemaSec', N'auto create statistics', N'true'
GO

exec sp_dboption N'CinemaSec', N'auto update statistics', N'true'
GO

use [CinemaSec]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Rooms_Cinemas]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Rooms] DROP CONSTRAINT FK_Rooms_Cinemas
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Cameras_Rooms]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Cameras] DROP CONSTRAINT FK_Cameras_Rooms
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Protocol_Rooms]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Protocol] DROP CONSTRAINT FK_Protocol_Rooms
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Statistics_Rooms]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Statistics] DROP CONSTRAINT FK_Statistics_Rooms
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Timetable_Rooms]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Timetable] DROP CONSTRAINT FK_Timetable_Rooms
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_StatPhotos_Cameras]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[StatPhotos] DROP CONSTRAINT FK_StatPhotos_Cameras
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_StatPhotos_Statistics]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[StatPhotos] DROP CONSTRAINT FK_StatPhotos_Statistics
GO

/****** Object:  Trigger dbo.TimePeriods    Script Date: 07.06.2005 11:40:45 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TimePeriods]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[TimePeriods]
GO

/****** Object:  View dbo.ExchangeView    Script Date: 07.06.2005 11:40:45 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ExchangeView]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[ExchangeView]
GO

/****** Object:  Table [dbo].[StatPhotos]    Script Date: 07.06.2005 11:40:45 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[StatPhotos]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[StatPhotos]
GO

/****** Object:  Table [dbo].[Cameras]    Script Date: 07.06.2005 11:40:45 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Cameras]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Cameras]
GO

/****** Object:  Table [dbo].[Protocol]    Script Date: 07.06.2005 11:40:45 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Protocol]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Protocol]
GO

/****** Object:  Table [dbo].[Statistics]    Script Date: 07.06.2005 11:40:45 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Statistics]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Statistics]
GO

/****** Object:  Table [dbo].[Timetable]    Script Date: 07.06.2005 11:40:45 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Timetable]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Timetable]
GO

/****** Object:  Table [dbo].[Rooms]    Script Date: 07.06.2005 11:40:45 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Rooms]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Rooms]
GO

/****** Object:  Table [dbo].[Cinemas]    Script Date: 07.06.2005 11:40:45 ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Cinemas]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Cinemas]
GO

/****** Object:  Login cinema    Script Date: 07.06.2005 11:40:45 ******/
if not exists (select * from master.dbo.syslogins where loginname = N'cinema')
BEGIN
	declare @logindb nvarchar(132), @loginlang nvarchar(132) select @logindb = N'CinemaSec', @loginlang = N'us_english'
	if @logindb is null or not exists (select * from master.dbo.sysdatabases where name = @logindb)
		select @logindb = N'master'
	if @loginlang is null or (not exists (select * from master.dbo.syslanguages where name = @loginlang) and @loginlang <> N'us_english')
		select @loginlang = @@language
	exec sp_addlogin N'cinema', null, @logindb, @loginlang
END
GO

/****** Object:  Login OrwellSAdmin    Script Date: 07.06.2005 11:40:45 ******/
if not exists (select * from master.dbo.syslogins where loginname = N'OrwellSAdmin')
BEGIN
	declare @logindb nvarchar(132), @loginlang nvarchar(132) select @logindb = N'OrwellDB', @loginlang = N'us_english'
	if @logindb is null or not exists (select * from master.dbo.sysdatabases where name = @logindb)
		select @logindb = N'master'
	if @loginlang is null or (not exists (select * from master.dbo.syslanguages where name = @loginlang) and @loginlang <> N'us_english')
		select @loginlang = @@language
	exec sp_addlogin N'OrwellSAdmin', null, @logindb, @loginlang
END
GO

/****** Object:  Login cinema    Script Date: 07.06.2005 11:40:45 ******/
exec sp_addsrvrolemember N'cinema', sysadmin
GO

/****** Object:  Login OrwellSAdmin    Script Date: 07.06.2005 11:40:45 ******/
exec sp_addsrvrolemember N'OrwellSAdmin', sysadmin
GO

/****** Object:  User Cinema    Script Date: 07.06.2005 11:40:45 ******/
exec sp_addrolemember N'db_owner', N'Cinema'
GO

/****** Object:  Table [dbo].[Cinemas]    Script Date: 07.06.2005 11:40:46 ******/
CREATE TABLE [dbo].[Cinemas] (
	[CinemaID] [int] IDENTITY (1, 1) NOT NULL ,
	[CinemaName] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CinemaComments] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BackupStart] [float] NOT NULL ,
	[BackupStop] [float] NOT NULL ,
	[BackupDate] [int] NOT NULL ,
	[ExchangeStartOfDay] [datetime] NOT NULL ,
	[ExchangeTimeoutNumber] [int] NOT NULL ,
	[ExchangeTimeoutPeriod] [int] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Rooms]    Script Date: 07.06.2005 11:40:46 ******/
CREATE TABLE [dbo].[Rooms] (
	[RoomID] [int] IDENTITY (1, 1) NOT NULL ,
	[CinemaID] [int] NOT NULL ,
	[RoomNumber] [int] NOT NULL ,
	[RoomChairs] [image] NULL ,
	[RoomIP] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[AlgoParams] [image] NULL ,
	[TimeAfterStart] [int] NOT NULL ,
	[TimeBeforeEnd] [int] NOT NULL ,
	[TimePeriod] [int] NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Cameras]    Script Date: 07.06.2005 11:40:46 ******/
CREATE TABLE [dbo].[Cameras] (
	[CameraID] [int] IDENTITY (1, 1) NOT NULL ,
	[RoomID] [int] NOT NULL ,
	[CameraType] [smallint] NOT NULL ,
	[CameraCoord] [int] NOT NULL ,
	[CameraUID] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CameraIP] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CameraBackground] [image] NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Protocol]    Script Date: 07.06.2005 11:40:46 ******/
CREATE TABLE [dbo].[Protocol] (
	[RoomID] [int] NOT NULL ,
	[ProtoTime] [datetime] NOT NULL ,
	[ProtoType] [smallint] NOT NULL ,
	[ProtoString] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Statistics]    Script Date: 07.06.2005 11:40:47 ******/
CREATE TABLE [dbo].[Statistics] (
	[StatID] [int] IDENTITY (1, 1) NOT NULL ,
	[RoomID] [int] NOT NULL ,
	[StatTime] [datetime] NOT NULL ,
	[StatViewerNumber] [smallint] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Timetable]    Script Date: 07.06.2005 11:40:47 ******/
CREATE TABLE [dbo].[Timetable] (
	[FilmID] [int] IDENTITY (1, 1) NOT NULL ,
	[RoomID] [int] NOT NULL ,
	[Name] [nvarchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[BeginTime] [datetime] NOT NULL ,
	[EndTime] [datetime] NOT NULL ,
	[ExchangeID] [int] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[StatPhotos]    Script Date: 07.06.2005 11:40:47 ******/
CREATE TABLE [dbo].[StatPhotos] (
	[StatID] [int] NOT NULL ,
	[CameraID] [int] NOT NULL ,
	[StatPhoto] [image] NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Cinemas] WITH NOCHECK ADD 
	CONSTRAINT [PK_Cinemas] PRIMARY KEY  CLUSTERED 
	(
		[CinemaID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Rooms] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rooms] PRIMARY KEY  CLUSTERED 
	(
		[RoomID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Cameras] WITH NOCHECK ADD 
	CONSTRAINT [PK_Cameras] PRIMARY KEY  CLUSTERED 
	(
		[CameraID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Statistics] WITH NOCHECK ADD 
	CONSTRAINT [PK_Statistics] PRIMARY KEY  CLUSTERED 
	(
		[StatID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Timetable] WITH NOCHECK ADD 
	CONSTRAINT [PK_Timetable] PRIMARY KEY  CLUSTERED 
	(
		[FilmID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[StatPhotos] WITH NOCHECK ADD 
	CONSTRAINT [PK_StatPhotos] PRIMARY KEY  CLUSTERED 
	(
		[StatID],
		[CameraID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Cinemas] WITH NOCHECK ADD 
	CONSTRAINT [DF_Cinemas_BackupStart] DEFAULT (50) FOR [BackupStart],
	CONSTRAINT [DF_Cinemas_BackupStop] DEFAULT (60) FOR [BackupStop],
	CONSTRAINT [DF_Cinemas_BackupDate] DEFAULT (182) FOR [BackupDate],
	CONSTRAINT [DF_Cinemas_ExchangeStartOfDay] DEFAULT ('10:00') FOR [ExchangeStartOfDay],
	CONSTRAINT [DF_Cinemas_ExchangeTimeoutNumber] DEFAULT (5) FOR [ExchangeTimeoutNumber],
	CONSTRAINT [DF_Cinemas_ExchangeTimeoutPeriod] DEFAULT (60) FOR [ExchangeTimeoutPeriod],
	CONSTRAINT [CK_Cinemas] CHECK ([BackupStart] >= 0 and [BackupStart] < 100 and [BackupStop] >= 0 and [BackupStop] < 100)
GO

ALTER TABLE [dbo].[Rooms] WITH NOCHECK ADD 
	CONSTRAINT [DF_Rooms_RoomChairs] DEFAULT (null) FOR [RoomChairs],
	CONSTRAINT [DF_Rooms_AlgoParams] DEFAULT (null) FOR [AlgoParams],
	CONSTRAINT [DF_Rooms_TimeAfterStart] DEFAULT (600) FOR [TimeAfterStart],
	CONSTRAINT [DF_Rooms_TimeBeforeEnd] DEFAULT (600) FOR [TimeBeforeEnd],
	CONSTRAINT [DF_Rooms_TimePeriod] DEFAULT (600) FOR [TimePeriod]
GO

ALTER TABLE [dbo].[Cameras] WITH NOCHECK ADD 
	CONSTRAINT [DF_Cameras_CameraType] DEFAULT (0) FOR [CameraType],
	CONSTRAINT [DF_Cameras_CameraCoord] DEFAULT (0) FOR [CameraCoord]
GO

ALTER TABLE [dbo].[Timetable] WITH NOCHECK ADD 
	CONSTRAINT [DF_Timetable_ExchangeID] DEFAULT ((-1)) FOR [ExchangeID]
GO

ALTER TABLE [dbo].[Rooms] ADD 
	CONSTRAINT [FK_Rooms_Cinemas] FOREIGN KEY 
	(
		[CinemaID]
	) REFERENCES [dbo].[Cinemas] (
		[CinemaID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[Cameras] ADD 
	CONSTRAINT [FK_Cameras_Rooms] FOREIGN KEY 
	(
		[RoomID]
	) REFERENCES [dbo].[Rooms] (
		[RoomID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[Protocol] ADD 
	CONSTRAINT [FK_Protocol_Rooms] FOREIGN KEY 
	(
		[RoomID]
	) REFERENCES [dbo].[Rooms] (
		[RoomID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[Statistics] ADD 
	CONSTRAINT [FK_Statistics_Rooms] FOREIGN KEY 
	(
		[RoomID]
	) REFERENCES [dbo].[Rooms] (
		[RoomID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[Timetable] ADD 
	CONSTRAINT [FK_Timetable_Rooms] FOREIGN KEY 
	(
		[RoomID]
	) REFERENCES [dbo].[Rooms] (
		[RoomID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[StatPhotos] ADD 
	CONSTRAINT [FK_StatPhotos_Cameras] FOREIGN KEY 
	(
		[CameraID]
	) REFERENCES [dbo].[Cameras] (
		[CameraID]
	),
	CONSTRAINT [FK_StatPhotos_Statistics] FOREIGN KEY 
	(
		[StatID]
	) REFERENCES [dbo].[Statistics] (
		[StatID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  View dbo.ExchangeView    Script Date: 07.06.2005 11:40:47 ******/
CREATE VIEW dbo.ExchangeView
AS
SELECT     dbo.Rooms.RoomID, dbo.Cinemas.ExchangeStartOfDay, dbo.Cinemas.ExchangeTimeoutNumber, dbo.Cinemas.ExchangeTimeoutPeriod
FROM         dbo.Rooms INNER JOIN
                      dbo.Cinemas ON dbo.Rooms.CinemaID = dbo.Cinemas.CinemaID

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Trigger dbo.TimePeriods    Script Date: 07.06.2005 11:40:47 ******/





CREATE   TRIGGER TimePeriods
ON dbo.Timetable
FOR INSERT, UPDATE 
AS
DECLARE @BeginTime datetime, @EndTime datetime
SELECT @BeginTime = BeginTime, 
   @EndTime = EndTime 
FROM timetable
IF @BeginTime >= @EndTime
BEGIN
   RAISERROR (50100, 16, 1)
   ROLLBACK TRANSACTION
END

DECLARE @BeginTimePrev datetime, @EndTimePrev datetime,
	@BeginTimeNext datetime, @EndTimeNext datetime,
	@RoomIDPrev int, @RoomIDNext int


DECLARE TimeCursor CURSOR
FOR 	SELECT BeginTime, EndTime, RoomID FROM Timetable
	ORDER BY RoomID ASC, BeginTime ASC

OPEN TimeCursor

FETCH NEXT FROM TimeCursor 
INTO @BeginTimePrev, @EndTimePrev, @RoomIDPrev

WHILE @@FETCH_STATUS = 0
BEGIN

FETCH NEXT FROM TimeCursor INTO @BeginTimeNext, @EndTimeNext, @RoomIDNext

IF @@FETCH_STATUS = 0
BEGIN
	IF @BeginTimeNext <= @EndTimePrev AND @RoomIDNext = @RoomIDPrev
	BEGIN
	RAISERROR (50101, 16, 1)
	ROLLBACK TRANSACTION
	BREAK
	END
SET @BeginTimePrev = @BeginTimeNext
SET @EndTimePrev = @EndTimeNext
END

END

CLOSE TimeCursor
DEALLOCATE TimeCursor




GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

