/****** Object:  Login cinema    Script Date: 17.06.2005 13:36:31 ******/
if not exists (select * from master.dbo.syslogins where loginname = N'cinema')
BEGIN
	declare @logindb nvarchar(132), @loginlang nvarchar(132) select @logindb = N'CinemaSec', @loginlang = N'us_english'
	if @logindb is null or not exists (select * from master.dbo.sysdatabases where name = @logindb)
		select @logindb = N'master'
	if @loginlang is null or (not exists (select * from master.dbo.syslanguages where name = @loginlang) and @loginlang <> N'us_english')
		select @loginlang = @@language
	exec sp_addlogin N'cinema', null, @logindb, @loginlang
END
GO

/****** Object:  Login OrwellSAdmin    Script Date: 17.06.2005 13:36:31 ******/
if not exists (select * from master.dbo.syslogins where loginname = N'OrwellSAdmin')
BEGIN
	declare @logindb nvarchar(132), @loginlang nvarchar(132) select @logindb = N'OrwellDB', @loginlang = N'us_english'
	if @logindb is null or not exists (select * from master.dbo.sysdatabases where name = @logindb)
		select @logindb = N'master'
	if @loginlang is null or (not exists (select * from master.dbo.syslanguages where name = @loginlang) and @loginlang <> N'us_english')
		select @loginlang = @@language
	exec sp_addlogin N'OrwellSAdmin', null, @logindb, @loginlang
END
GO

/****** Object:  Login cinema    Script Date: 17.06.2005 13:36:31 ******/
exec sp_addsrvrolemember N'cinema', sysadmin
GO

/****** Object:  Login OrwellSAdmin    Script Date: 17.06.2005 13:36:31 ******/
exec sp_addsrvrolemember N'OrwellSAdmin', sysadmin
GO

/****** Object:  User Cinema    Script Date: 17.06.2005 13:36:32 ******/
if not exists (select * from dbo.sysusers where name = N'Cinema' and uid < 16382)
	EXEC sp_grantdbaccess N'cinema', N'Cinema'
GO

/****** Object:  User dbo    Script Date: 17.06.2005 13:36:32 ******/
/****** Object:  User Cinema    Script Date: 17.06.2005 13:36:32 ******/
exec sp_addrolemember N'db_accessadmin', N'Cinema'
GO

/****** Object:  User Cinema    Script Date: 17.06.2005 13:36:32 ******/
exec sp_addrolemember N'db_backupoperator', N'Cinema'
GO

/****** Object:  User Cinema    Script Date: 17.06.2005 13:36:32 ******/
exec sp_addrolemember N'db_datareader', N'Cinema'
GO

/****** Object:  User Cinema    Script Date: 17.06.2005 13:36:32 ******/
exec sp_addrolemember N'db_datawriter', N'Cinema'
GO

/****** Object:  User Cinema    Script Date: 17.06.2005 13:36:32 ******/
exec sp_addrolemember N'db_ddladmin', N'Cinema'
GO

/****** Object:  User Cinema    Script Date: 17.06.2005 13:36:32 ******/
exec sp_addrolemember N'db_owner', N'Cinema'
GO

/****** Object:  User Cinema    Script Date: 17.06.2005 13:36:32 ******/
exec sp_addrolemember N'db_securityadmin', N'Cinema'
GO

/****** Object:  Table [dbo].[Cinemas]    Script Date: 17.06.2005 13:36:35 ******/
CREATE TABLE [dbo].[Cinemas] (
	[CinemaID] [int] IDENTITY (1, 1) NOT NULL ,
	[CinemaName] [nvarchar] (50) NOT NULL ,
	[CinemaComments] [nvarchar] (50) NULL ,
	[BackupStart] [float] NOT NULL ,
	[BackupStop] [float] NOT NULL ,
	[BackupDate] [int] NOT NULL ,
	[ExchangeStartOfDay] [datetime] NOT NULL ,
	[ExchangeTimeoutNumber] [int] NOT NULL ,
	[ExchangeTimeoutPeriod] [int] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Rooms]    Script Date: 17.06.2005 13:36:37 ******/
CREATE TABLE [dbo].[Rooms] (
	[RoomID] [int] IDENTITY (1, 1) NOT NULL ,
	[CinemaID] [int] NOT NULL ,
	[RoomNumber] [int] NOT NULL ,
	[RoomChairs] [image] NULL ,
	[RoomIP] [varchar] (50) NOT NULL ,
	[AlgoParams] [image] NULL ,
	[TimeAfterStart] [int] NOT NULL ,
	[TimeBeforeEnd] [int] NOT NULL ,
	[TimePeriod] [int] NOT NULL ,
	[Model] [image] NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Cameras]    Script Date: 17.06.2005 13:36:37 ******/
CREATE TABLE [dbo].[Cameras] (
	[CameraID] [int] IDENTITY (1, 1) NOT NULL ,
	[RoomID] [int] NOT NULL ,
	[CameraType] [smallint] NOT NULL ,
	[CameraCoord] [int] NOT NULL ,
	[CameraUID] [varchar] (80) NOT NULL ,
	[CameraIP] [varchar] (50) NOT NULL ,
	[CameraBackground] [image] NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Protocol]    Script Date: 17.06.2005 13:36:38 ******/
CREATE TABLE [dbo].[Protocol] (
	[RoomID] [int] NOT NULL ,
	[ProtoTime] [datetime] NOT NULL ,
	[ProtoType] [smallint] NOT NULL ,
	[ProtoString] [text] NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Statistics]    Script Date: 17.06.2005 13:36:38 ******/
CREATE TABLE [dbo].[Statistics] (
	[StatID] [int] IDENTITY (1, 1) NOT NULL ,
	[RoomID] [int] NOT NULL ,
	[StatTime] [datetime] NOT NULL ,
	[StatViewerNumber] [smallint] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Timetable]    Script Date: 17.06.2005 13:36:38 ******/
CREATE TABLE [dbo].[Timetable] (
	[FilmID] [int] IDENTITY (1, 1) NOT NULL ,
	[RoomID] [int] NOT NULL ,
	[Name] [nvarchar] (500) NOT NULL ,
	[BeginTime] [datetime] NOT NULL ,
	[EndTime] [datetime] NOT NULL ,
	[ExchangeID] [int] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[StatPhotos]    Script Date: 17.06.2005 13:36:38 ******/
CREATE TABLE [dbo].[StatPhotos] (
	[StatID] [int] NOT NULL ,
	[CameraID] [int] NOT NULL ,
	[StatPhoto] [image] NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Cinemas] WITH NOCHECK ADD 
	CONSTRAINT [PK_Cinemas] PRIMARY KEY  CLUSTERED 
	(
		[CinemaID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Rooms] WITH NOCHECK ADD 
	CONSTRAINT [PK_Rooms] PRIMARY KEY  CLUSTERED 
	(
		[RoomID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Cameras] WITH NOCHECK ADD 
	CONSTRAINT [PK_Cameras] PRIMARY KEY  CLUSTERED 
	(
		[CameraID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Statistics] WITH NOCHECK ADD 
	CONSTRAINT [PK_Statistics] PRIMARY KEY  CLUSTERED 
	(
		[StatID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Timetable] WITH NOCHECK ADD 
	CONSTRAINT [PK_Timetable] PRIMARY KEY  CLUSTERED 
	(
		[FilmID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[StatPhotos] WITH NOCHECK ADD 
	CONSTRAINT [PK_StatPhotos] PRIMARY KEY  CLUSTERED 
	(
		[StatID],
		[CameraID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Cinemas] WITH NOCHECK ADD 
	CONSTRAINT [DF__Cinemas__BackupS__1273C1CD] DEFAULT (50) FOR [BackupStart],
	CONSTRAINT [DF__Cinemas__BackupS__1367E606] DEFAULT (60) FOR [BackupStop],
	CONSTRAINT [DF__Cinemas__BackupD__145C0A3F] DEFAULT (182) FOR [BackupDate],
	CONSTRAINT [DF__Cinemas__Exchang__15502E78] DEFAULT ('10:00') FOR [ExchangeStartOfDay],
	CONSTRAINT [DF__Cinemas__Exchang__164452B1] DEFAULT (5) FOR [ExchangeTimeoutNumber],
	CONSTRAINT [DF__Cinemas__Exchang__173876EA] DEFAULT (60) FOR [ExchangeTimeoutPeriod],
	CONSTRAINT [CK_Cinemas] CHECK ([BackupStart] >= 0 and [BackupStart] < 100 and [BackupStop] >= 0 and [BackupStop] < 100)
GO

ALTER TABLE [dbo].[Rooms] WITH NOCHECK ADD 
	CONSTRAINT [DF_Rooms_RoomChairs] DEFAULT (null) FOR [RoomChairs],
	CONSTRAINT [DF_Rooms_AlgoParams] DEFAULT (null) FOR [AlgoParams],
	CONSTRAINT [DF_Rooms_TimeAfterStart] DEFAULT (600) FOR [TimeAfterStart],
	CONSTRAINT [DF_Rooms_TimeBeforeEnd] DEFAULT (600) FOR [TimeBeforeEnd],
	CONSTRAINT [DF_Rooms_TimePeriod] DEFAULT (600) FOR [TimePeriod]
GO

ALTER TABLE [dbo].[Cameras] WITH NOCHECK ADD 
	CONSTRAINT [DF_Cameras_CameraType] DEFAULT (0) FOR [CameraType],
	CONSTRAINT [DF_Cameras_CameraCoord] DEFAULT (0) FOR [CameraCoord]
GO

ALTER TABLE [dbo].[Timetable] WITH NOCHECK ADD 
	CONSTRAINT [DF__Timetable__Excha__1920BF5C] DEFAULT ((-1)) FOR [ExchangeID]
GO

ALTER TABLE [dbo].[Rooms] ADD 
	CONSTRAINT [FK_Rooms_Cinemas] FOREIGN KEY 
	(
		[CinemaID]
	) REFERENCES [dbo].[Cinemas] (
		[CinemaID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[Cameras] ADD 
	CONSTRAINT [FK_Cameras_Rooms] FOREIGN KEY 
	(
		[RoomID]
	) REFERENCES [dbo].[Rooms] (
		[RoomID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[Protocol] ADD 
	CONSTRAINT [FK_Protocol_Rooms] FOREIGN KEY 
	(
		[RoomID]
	) REFERENCES [dbo].[Rooms] (
		[RoomID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[Statistics] ADD 
	CONSTRAINT [FK_Statistics_Rooms] FOREIGN KEY 
	(
		[RoomID]
	) REFERENCES [dbo].[Rooms] (
		[RoomID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[Timetable] ADD 
	CONSTRAINT [FK_Timetable_Rooms] FOREIGN KEY 
	(
		[RoomID]
	) REFERENCES [dbo].[Rooms] (
		[RoomID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

ALTER TABLE [dbo].[StatPhotos] ADD 
	CONSTRAINT [FK_StatPhotos_Cameras] FOREIGN KEY 
	(
		[CameraID]
	) REFERENCES [dbo].[Cameras] (
		[CameraID]
	),
	CONSTRAINT [FK_StatPhotos_Statistics] FOREIGN KEY 
	(
		[StatID]
	) REFERENCES [dbo].[Statistics] (
		[StatID]
	) ON DELETE CASCADE  ON UPDATE CASCADE 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  View dbo.ExchangeView    Script Date: 17.06.2005 13:36:38 ******/

-- trigger

CREATE VIEW dbo.ExchangeView
AS
SELECT     dbo.Rooms.RoomID, dbo.Cinemas.ExchangeStartOfDay, dbo.Cinemas.ExchangeTimeoutNumber, dbo.Cinemas.ExchangeTimeoutPeriod
FROM         dbo.Rooms INNER JOIN
                      dbo.Cinemas ON dbo.Rooms.CinemaID = dbo.Cinemas.CinemaID


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  View dbo.TimetableView    Script Date: 17.06.2005 13:36:38 ******/

/****** Object:  View dbo.TimetableView    Script Date: 17.06.2005 12:20:05 ******/
CREATE VIEW dbo.TimetableView
AS
SELECT     dbo.Cinemas.CinemaName, dbo.Rooms.RoomNumber, dbo.Timetable.FilmID, dbo.Timetable.BeginTime, dbo.Timetable.EndTime, dbo.Timetable.Name, 
                      dbo.Timetable.ExchangeID
FROM         dbo.Timetable INNER JOIN
                      dbo.Rooms ON dbo.Timetable.RoomID = dbo.Rooms.RoomID INNER JOIN
                      dbo.Cinemas ON dbo.Rooms.CinemaID = dbo.Cinemas.CinemaID


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Trigger dbo.TimePeriods    Script Date: 17.06.2005 13:36:38 ******/

CREATE   TRIGGER TimePeriods
ON dbo.Timetable
FOR INSERT, UPDATE 
AS
DECLARE @BeginTime datetime, @EndTime datetime
SELECT @BeginTime = BeginTime, 
   @EndTime = EndTime 
FROM timetable
IF @BeginTime >= @EndTime
BEGIN
   RAISERROR (50100, 16, 1)
   ROLLBACK TRANSACTION
END

DECLARE @BeginTimePrev datetime, @EndTimePrev datetime,
	@BeginTimeNext datetime, @EndTimeNext datetime,
	@RoomIDPrev int, @RoomIDNext int


DECLARE TimeCursor CURSOR
FOR 	SELECT BeginTime, EndTime, RoomID FROM Timetable
	ORDER BY RoomID ASC, BeginTime ASC

OPEN TimeCursor

FETCH NEXT FROM TimeCursor 
INTO @BeginTimePrev, @EndTimePrev, @RoomIDPrev

WHILE @@FETCH_STATUS = 0
BEGIN

FETCH NEXT FROM TimeCursor INTO @BeginTimeNext, @EndTimeNext, @RoomIDNext

IF @@FETCH_STATUS = 0
BEGIN
	IF @BeginTimeNext <= @EndTimePrev AND @RoomIDNext = @RoomIDPrev
	BEGIN
	RAISERROR (50101, 16, 1)
	ROLLBACK TRANSACTION
	BREAK
	END
SET @BeginTimePrev = @BeginTimeNext
SET @EndTimePrev = @EndTimeNext
END

END

CLOSE TimeCursor
DEALLOCATE TimeCursor

-- end trigger


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

